{% extends '@SyliusShop/layout.html.twig' %}

{%- block title %}{{ 'sylius.ui.comparator'|trans }}{% endblock -%}

{% block robots %}
    <meta name="robots" content="none">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="Comparator">
        <div class="Comparator-header">
            <h1 class="Comparator-title">
                {{ 'asdoria_sylius_comparator_bundle.ui.comparator'|trans }}
            </h1>
        </div>
        {% set config = {
            currencyCode: sylius.currencyCode,
            withTax: true,
            availableAttributes: availableAttributesForCompare()
        } %}
        <div id="vm-comparator" data-config="{{ config|serialize }}">
            <span class="Comparator-loader"></span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% set locales = sylius.channel.locales|map(l => l.code|slice(0,2)) %}
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js', {locales: locales|join(',')}) }}"></script>
    {{ sylius_template_event('asdoria.shop.index_comparator.javascripts') }}
{% endblock %}
